<div class="tank_container">
  
<p class="p3">2種類のTankで効率的にナレッジ蓄積/知識定着をしよう！</p>

<div class="tank_title">
    <div class="memory_tank_title">
    <p class="p3">Word Tank</p> 
    </div>
    <div class="question_tank_title">
     <p class="p3">Question Tank</p> 
    </div>
</div>


<div class="tank">
    <div class="memory_tank">
    </div>
    <div class="question_tank">
    </div>
</div>

<div class="tank_comment">
    <div class="memory_tank_comment">
    <p class="p4">覚えたい単語を蓄積していこう！</p> 
     <ul class="p5">
    <li type="disc">単語をカテゴリ別のTankに分けて蓄積可能</li> 
    <li type="disc">単語を自らの暗記度に応じて、習得済Tankと未習得Tankに振り分け</li>
    <li type="disc">単語を覚えて、未習得Tankから習得済Tankに移していこう！</li>
    </ul> 
    </div>
    <div class="question_tank_comment">
     <p class="p4">自作の問題を蓄積していこう！</p> 
      <ul class="p5">
    <li type="disc">自作の四択問題をカテゴリ別のTankに蓄積可能</li> 
    <li type="disc">問題を自らの正答率に応じて、習得済Tankと未習得Tankに振り分け</li>
    <li type="disc">問題に正解し、未習得Tankから習得済Tankに移していこう！</li>
    </ul> 
    </div>
</div>

 <% if user_signed_in? %>
<div class="tank_enter">
  <div class="word_tank_enter">
    <%= link_to "Word Tankに進む", new_user_session_path, class: "btn btn--orange btn--shadow" %>
  </div>
  <div class="question_tank_enter">
    <%= link_to "Question Tankに進む", new_user_registration_path, class:  "btn btn--blue btn--shadow" %>
  </div>
</div>
<% end %>


            


</div>
<footer>
     <div class="footer_left">
        <div class="footer_left_main">
           <a href="/"><p class="p2">MemoryTank</p></a>
        </div>
        <div class="fotter_left_sub">
           <p class="p2">〜効率的なナレッジ蓄積と知識定着を支援〜</p>
        </div>
     </div>
     <div class="footer_right">
        <div id="page_top"><a href="#"></a></div>
     </div>
    </footer>

