<div class="tank_container">
  
  <p class="center_font">2種類のTankで効率的にナレッジ蓄積・知識定着をしよう！</p>

  <div class="tank_title">
     <div class="left_tank_title">
       <p class="center_font">Word Tank</p> 
     </div>
     <div class="right_tank_title">
       <p class="center_font">Question Tank</p> 
     </div>
  </div>

  <% if user_signed_in? %>
     <div class="tank">
       <div >
         <%= link_to image_tag("/images/tank_img.jpg", class: 'left_tank' )  , word_tank_index_tank_path(current_user.id)  %>
       </div>
       <div>
         <%= link_to image_tag("/images/tank_img_2.jpg", class: 'right_tank' )  , question_tank_index_tank_path(current_user.id)   %>
       </div>
  </div>
  <% else %>
     <div class="tank">
        <div >
         <%= link_to image_tag("/images/tank_img.jpg", class: 'left_tank' )  , '/'%>
        </div>
        <div>
         <%= link_to image_tag("/images/tank_img_2.jpg", class: 'right_tank' )  , '/'  %>
        </div>
     </div>
  <% end %>

  <div class="tank_comment">
    <div class="memory_tank_comment">
       <p class="comment">覚えたい単語を蓄積していこう！</p> 
        <ul class="comment_sub">
        <% if user_signed_in? %>
         <li type="disc" class="title">アイコンをクリックして始めよう▲</li>
        <% end %>
         <li type="disc">単語をカテゴリ別のTankに分けて蓄積可能</li> 
         <li type="disc">単語を暗記度に応じて、習得済Tankと未習得Tankに振り分け</li>
         <li type="disc">単語を覚えて、未習得Tankから習得済Tankに移していこう！</li>
        </ul> 
    </div>

    <div class="question_tank_comment">
       <p class="comment">自作の問題を蓄積していこう！</p> 
        <ul class="comment_sub">
        <% if user_signed_in? %>
         <li type="disc" class="title">アイコンをクリックして始めよう▲</li>
        <% end %>
         <li type="disc">自作の四択問題をカテゴリ別のTankに蓄積可能</li> 
         <li type="disc">問題を正答率に応じて、習得済Tankと未習得Tankに振り分け</li>
         <li type="disc">問題に正解し、未習得Tankから習得済Tankに移していこう！</li>
        </ul> 
    </div> 
 </div>

</div>