/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ヘッダー */
.header {
  margin: 0;
  height: 13vh;
  width: 100vw;
  position: fixed;
  box-shadow: 0px 2px 4px gray;
  background-color: aliceblue;
}

.header_left {
  display: flex;
  margin-left: 30px;
}

.header_left_main {
  margin-right: 30px;
  font-size: 30px;
  font-weight: 900;
}

.header_left_sub {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 400;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: tomato;
  font-family: "dnp-shuei-gothic-gin-std, sans-serif";
}

.heading {
  color: #000000;
  font-family: "dnp-shuei-gothic-gin-std, sans-serif";
}

.user_name {
  font-size: 20px;
  font-weight: 900;
  margin-right: 30px;
}

.user_icon {
  margin-right: 10px;
  margin-bottom: 5px;
}

.icon_image {
  border: 1px solid white;
  width: 55px;
  height: 55px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
  background-color: white;
}

.user_info {
  margin-right: 20px;
  margin-top: 2vh;
}

.btn {
  font-family: "MS PGothic", "Osaka", Arial, sans-serif;
}

.btn-n {
  font-family: "MS PGothic", "Osaka", Arial, sans-serif;
  border-style: none;
}

.btn--orange {
  color: #fff;
  background-color: tomato;
  border-bottom: 5px solid #b84c00;
  padding: 10px;
  margin-right: 10px;
}

.btn--blue {
  color: #fff;
  background-color: royalblue;
  border-bottom: 5px solid #383e4e;
  padding: 10px;
}

.btn--gray {
  color: #fff;
  background-color: darkgray;
  border-bottom: 5px solid gray;
  padding: 10px;
  margin-right: 10px;
}

.unlogin_right {
  margin: 30px;
}

.default_icon_image {
  background-image: url("/images/default_user.png");
  border: 1px solid white;
  width: 55px;
  height: 55px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
  background-color: white;
}

/* フッター */

footer {
  background-color: aliceblue;
  width: 100vw;
  height: 8vh;
  box-shadow: 0px -0.5px 4px gray;
  margin: 0;
}

.footer_center {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}

.footer_center_main {
  font-size: 20px;
  font-weight: 900;
}

.footer_center_sub {
  font-size: 15px;
  margin-left: 15px;
}

/* 共通部品 */

.icon {
  border: 2px solid white;
  width: 250px;
  height: 250px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
  background-color: white;
}

.center {
  color: #000000;
  font-family: "dnp-shuei-gothic-gin-std, sans-serif";
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}

.center2 {
  color: #000000;
  font-family: "dnp-shuei-gothic-gin-std, sans-serif";
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}

.center3 {
  color: #000000;
  font-family: "dnp-shuei-gothic-gin-std, sans-serif";
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.left_tank {
  border: 2px solid #eeeeee;
  width: 250px;
  height: 250px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
}

.right_tank {
  border: 2px solid #eeeeee;
  width: 250px;
  height: 250px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
}

.tomato {
  color: tomato;
  font-weight: 900;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
