/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header{
   background-color:aquamarine;
   height:10vh;
   display: flex;
   justify-content: space-between;
   width:100vw;
   position: fixed;
 }

 .header_left{
  display: flex;
  margin:30px;
}

.header_left_main{
  margin-right:30px;
}

a{
  text-decoration: none;
}

.p1{
  color:orangered;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  margin-right:10px;
}

.header_right{
  display: flex;
  margin:20px;
}

.icon_image{
  border: 1px solid white;
  width:  66px;
  height: 66px;
  border-radius: 90%;
  background-position: center center;
  background-size: contain;
  background-color:white;
  margin-right:10px;
}

.btn{
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
}

.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  padding:10px;
  
}
.btn--orange:hover {
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}

.btn--blue {
  color: #fff;
  background-color: #164ad8;
  border-bottom: 5px solid #383e4e;
  padding:10px;
}

.btn--blue:hover {
  color: #fff;
  background: #1a4edf;
  border-bottom: 2px solid #383e4e;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.login_right{
  display: flex;
  margin-top:3px;
}

.circle-image {
      background-image:url("/images/default_user.png");
      border: 1px solid white;
      width:  66px;
      height: 66px;
      border-radius: 90%;
      background-position: center center;
      background-size: contain;
      background-color:white;
      margin-right:10px;
      
  }

  .sp{
  color:orangered;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  margin:30px;
  }

  .tank_icon{
    border: 2px solid white;
    width:  250px;
    height: 250px;
    border-radius: 90%;
    background-position: center center;
    background-size: contain;
    background-color:white;
  }

  .left_tank{
    border: 2px solid white;
    width:  300px;
    height: 300px;
    border-radius: 90%;
    background-position: center center;
    background-size: contain;
    background-color:white;
    margin-left:25vw;
  }
  
  .right_tank{
    border: 2px solid white;
    width:  300px;
    height: 300px;
    border-radius: 90%;
    background-position: center center;
    background-size: contain;
    background-color:white;
    margin-right:25vw;
  
  }

  .word_top{
    margin-right:40vw;
    margin-left:40vw;

  }

  .word_top_button{
    margin-right:47vw;
    margin-left:47vw;
    margin-top:3vh;
    margin-bottom:5vh;
  }

  .p9{
    background-color :black;
    color:black;
    color:black;
    font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size:30px;
    font-weight:900;
    text-align: center;
    width:250px;
    overflow-wrap: break-word;
  }

  .p9:hover {
    background-color: white; 
  }




* {
  box-sizing: border-box;
}


.word_button{
  display: inline-flex;
  margin-bottom:50px;
  width:380px;
  font-size:15px;
}

.p10{
  color:	#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:28px;
  font-weight:900;
}

.text_area{
  margin-top: 5px;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
  width:600px;
  height:80px;
}

.question_container{
  background-color:#F4FBFE;
  padding-top:120px;
  background-size: contain;
  min-height:92vh;
  height:auto;
  background-size:100vw;

}

.container_2{
  text-align: center;
}

.question{
  width:80vw;
  overflow-wrap: break-word;
  margin-left:8vw;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  padding-top:20px;
}

.question2{
  width:80vw;
  overflow-wrap: break-word;
  margin-left:8vw;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  padding-top:20px;
  display:flex;
}

.p11{
  color:#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  

}


.p12{
  color:black;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  overflow-wrap: break-word;
  margin-top:15px;
}

.p13{
  color:red;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  overflow-wrap: break-word;
  margin-left:15px;
}

.question_button{
  display: inline-flex;
  margin-top:15px;
  margin-bottom:50px;
  margin-left:8vw;
  font-size:15px;
}


.p14{
  color:red;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  overflow-wrap: break-word;
  width:80vw;
  margin-left:130px;
  margin-top:10px;
}

.p15{
  color:red;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  overflow-wrap: break-word;
}

.p16{
  color:red;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:15px;
  overflow-wrap: break-word;
  margin-left:50px;
}

.p17{
  color:red;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:15px;
  overflow-wrap: break-word;
  margin-left:30px;
  margin-top:25px;
}

.search_top{
    margin-right:30vw;
    margin-left:30vw;
    margin-bottom:50px;
    display: flex;
    height:70px;
}


