// Place all the styles related to the tanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tank_container{
  background-color:#F4FBFE;
  text-align: center;
  padding-top:15vh;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100vw;
}

.tank_title{
  margin-top:3vh;
  display: flex;
  justify-content: space-between;
}

.left_tank_title{
  margin-left:29vw;
  border-bottom: solid 5px tomato; 
}

.right_tank_title{
  margin-right:28.5vw;
  border-bottom: solid 5px tomato;
}

.center_font{
  color:#2f4f4f;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
}

.tank{
  margin-top:5vh;
  display: flex;
  justify-content: space-between;
}

.tank_comment{
  margin-top:3vh;
  display: flex;
}

.memory_tank_comment{
  margin-left:8vw;
}

.question_tank_comment{
  margin-right:8vw;
  margin-left:14vw;
}

.comment{
  color:#2f4f4f;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:29.5px;
  font-weight:900;
  margin-bottom:30px;
  margin-left:3vw;
}

.comment_sub{
  color:#2f4f4f;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:18px;
  font-weight:900;
  text-align: left;
  margin-left:4vw;
}

.tank_container_up{
  background-color:#fffafa;
  padding-top:15vh;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100vw;
}

.tank_container_down{
  background-color: #f5fffa;
  padding-top:15vh;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100vw;
}

.tank_container2{
  background-color: aliceblue;
  padding-top:15vh;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100vw;
}

.tank_top{
  margin-right:40vw;
  margin-left:40vw;
  display: flex;
}

.list{
  display:inline-block;
  margin-left:13vw;
  margin-top:30px;
}

.tank_name{
  width:250px;
  overflow-wrap: break-word;
  color:#2f4f4f;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  text-align: center;
}

.tank_button{
  display: inline-flex;
  margin-bottom:50px;
  margin-left:65px;
}