// Place all the styles related to the tanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//LP
.tank_container{
  background-color:#F4FBFE;
  text-align: center;
  padding-top:120px;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100%;
  background-size:100vw;
}


.tank{
  margin-top:5vh;
  display: flex;
  justify-content: space-between;
}

.tank_title{
  margin-top:3vh;
  display: flex;
  justify-content: space-between;
}

.left_tank_title{
  margin-left:29vw;
  border-bottom: solid 5px red;
  
}

.right_tank_title{
  margin-right:29vw;
  border-bottom: solid 5px red;

}

.tank_comment{
  margin-top:3vh;
  display: flex;
  justify-content: space-between;
}

.memory_tank_comment{
  margin-left:15vw;
  
  
}

.question_tank_comment{
  margin-right:15vw;
 

}


.tank_enter{
  margin-top:5vh;
  display: flex;
  justify-content: space-between; 
}

.word_tank_enter{
  margin-left:28vw;
}

.question_tank_enter{
  margin-right:28vw;
}





footer{
  background-color: #FCF1DC;
  width:100vw;
  display: flex;
  justify-content: space-between;
  height:8vh;
}

.footer_left{
  display: flex;
  margin:30px 150px;
}

.footer_left_main{
  margin-right:30px;
}


.footer_right{
  display: flex;
  margin:20px;
}


.p3{
  color:#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  text-align: center;
}


.p4{
  color:	#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
}

.p5{
  color:	#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:18px;
  font-weight:900;
}

.p6{
  color:#333333;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  text-align: center;
}

.p8{
  background-color :black;
  color:black;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:30px;
  font-weight:900;
  text-align: center;
}

//WordTank一覧

.tank_container2{
  background-color:#F4FBFE;
  padding-top:120px;
  background-size: contain;
  min-height:92vh;
  height:auto;
  width:100%;
  background-size:100vw;
}

.tank_top{
  margin-right:43vw;
  margin-left:43vw;
  display: flex;
}

.list{
  display:inline-block;
  margin-left:13vw;
}

.list2{
  display:inline-block;
  margin-left:2vw;
 
}

.tank_button{
  display: inline-flex;
  margin-bottom:50px;
  margin-left:50px;
}

.tank_name{
  width:250px;
  overflow-wrap: break-word;
}

.tank_name2{
  width:350px;
  overflow-wrap: break-word;
  display:flex;

}

