.container{
  text-align: center;
  padding-top:150px;
  height:auto;
  min-height:92vh;
  background-color:#F4FBFE;
  width:100%;
  background-size:100vw;
}

input[type="text"] {
  width: 30vw;
  height: 30px;
  text-align: center;
}

input[type="password"] {
  width: 30vw;
  height: 30px;
  text-align: center;
}

input[type="email"] {
  width: 30vw;
  height: 30px;
  text-align: center;
}

.field{
  margin-top: 30px;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
}

.actions{
  margin-top:30px;
 
}

.sub{
  width: 20vw;
  height: 30x;
  background-color:#99CCFF;
  padding:3px;
  border-color:#87CEFA;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
  font-size:20px;
  color:orangered;
  margin-bottom:20px;
}

footer{
  background-color: #FCF1DC;
  height:8vh;
  width:100vw;
  display: flex;
  justify-content: space-between;
}

.footer_left{
  display: flex;
  margin:30px 150px;
}

.footer_left_main{
  margin-right:30px;
}

.p2{
  color:orangered;
  font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size:20px;
}

.footer_right{
  display: flex;
  margin:20px;
}

Result Skip Results Iframe
EDIT ON
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: orangered;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: orangered;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}



