.container{
  text-align: center;
  padding-top:150px;
  height:auto;
  min-height:92vh;
  background-color:#F4FBFE;
  width:100vw;
}

.field{
  margin-top: 35px;
  font-family:"MS PGothic", "Osaka", Arial, sans-serif;
}

input[type="text"] {
  width: 30vw;
  height: 30px;
  text-align: center;
}

input[type="password"] {
  width: 30vw;
  height: 30px;
  text-align: center;
}

input[type="submit"] {
  height: 45px;
  text-align: center;
}